.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: grey;
}

.title {
  font-size: 1.5rem;
}

.dropdowns {
  display: flex;
  align-items: center;
}

.dropdown {
  margin-left: 10px;
}
