.card-component {
  margin-bottom: 5px;
}

.title-container {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1.5rem;
  margin-right: 8px;
}

.title {
  display: inline;
}
